
/* === general styles === */

body {
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
}

/* === header top dark navbar === */

header {
  height: 100vh;
}
.Rectangle-1 {
    box-shadow: 0 0 1.5px 0 #35302b;
    background-color: #463f39;
    height: 8vh;
    padding-top: 1rem;
}

#top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#top-navbar div {
  display: inline;
}
#top-navbar a {
  font-size: .9rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 1rem;
  display: inline;
}
#top-navbar #total {
  color: #e2693c;
  font-weight: 600;
  padding-right: 0;
}
#in-cart {
  background-color: #463f39;   
  margin-top: .7rem;
  float: right;
  width: 3.2rem;
  height: 3rem;
  border: 1px solid #35302b;
  border-radius: 0 0 25px 25px;
  box-shadow: 1.5px #35302b;
}

/* === header top dark navbar cart and counter === */
#in-cart img {
  width: 2.4rem;
  margin: .2rem .3rem;
}
#counter {
  background-color: #fcc000;
  margin-top: -20%;
  display: block;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 1.3rem;
  font-size: .9rem;
  color: #ffffff;
}

/* === header second navbar lightgrey === */
.Rectangle-2 {
  background-color: #ece8e4;
  height: 24vh;
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
  z-index: -1;
}
#second-navbar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header #logo {
  height: 3.5rem;
  padding-right: 10rem;
}
#second-navbar a {
  font-size: 1.2rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #463f39;
}
#second-navbar .navbar-nav a {
  margin-left: 15%;
  padding-top: 3%;
}
#second-navbar .active {
  color: #e2693c;
  border-radius: 0 25px 25px 0;
  box-shadow: 0px 1.5px 0 0 #d2cbc5;
  background-color: #ffffff; 
  padding: 3%;
}

.navbar-custom .navbar-toggler-icon {
  color: #e2693c;
  font-size: 1.5rem;
}
.navbar-custom button {
  border-radius: 0 25px 25px 0;
  box-shadow: 0px 1.5px 0 0 #d2cbc5;
  background-color: #ffffff;
}

/* === header hero slide === */
.Rectangle-3 {
    box-shadow: inset 0px 2.5px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #e2693c;
    height: 68vh;
  }

  #carouselHeroSlide {
    position: relative;
  }

.carousel-inner .container {
  height: 68vh;
  position: relative;
}

#hero-slider-text-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header h1 {
  font-size: 2.6rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: .5rem;
}
.carousel-item p {
  text-transform: none;
  font-size: .9rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: .5rem;
}
.bookprice {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border: 1px solid #fcc000;
  border-radius: 25px;
  box-shadow: 0px 1.5px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #fcc000;
  padding: .3rem 1.7rem;
}
.bookprice small {
  font-weight: 700;
}

.search-container {
  position: absolute;
  width: 90%;
  bottom: 0%;
  background-color: #cb5a30;
}
.search-container form {
  box-shadow: inset 0px 2.5px 0 0 rgba(0, 0, 0, 0.1);
}
.search-container button {
  background-color: transparent;
  border: 0;
  height: 3rem;
  color: #fff;
}
.search-container button img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 60%;
  padding: .3rem;
}
.search-container input {
  width: 40%;
  font-size: .8rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  background-color: #d75f33;
  border: 0;
  padding: 1.4rem;
  box-shadow: inset 0px 2.5px 0 0 rgba(0, 0, 0, 0.1);
}

.styled-select select {
  background-color: transparent;
  width: 100%;
  font-size: .8rem;
  line-height: 1.5rem;
  border: 0;
  -webkit-appearance: none;
  color: #fff;
  padding: 1rem;
}
.styled-select {
  display: inline-block;
  overflow: hidden;
  background: url(../images/down.png) no-repeat center right #ddd;
  background-color: transparent; 
  width: 45%;
  position: absolute;
  bottom: 10%;
  padding-left: 3%;
}

#hero-slider-book-img {
  display: block;
  padding-top: 5rem;
  margin-left: 6rem;
  width: 70%;
}

#carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
#carousel-indicators {
  position: absolute;
  top: 80%;
  right: -15%;
  transform: translateY(-50%);
  margin-left: 6rem;
}


/* === book section === */

#book {
  position: relative;
}

.book-cover-img {
  width: 150px;
}
#book h2 {
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #e2693c;
}
#book h3 {
  font-size: 1rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #e2693c;
}

#book .card-text {
  font-size: .6rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #666666;
}
#book .full-star, #book .half-full-star {
  color: #e2693c;
}
#book .half-grey-star {
  color: #cccccc;
}
#book .empty-grey-star {
  color: #cccccc;
}

#book .container{
  padding: 3rem;
  z-index: 1;
}


/* ==== styles for footer ==== */

footer {
  box-shadow: inset 0px 2.5px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ece8e4;
}

footer h2 {
  font-size: 1.8rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e2693c;
}
footer nav a {
  font-size: .8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-left: -.9rem;
}
#footer-upper-part {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
#footer-upper-part .col-sm-4 {
  padding: 2rem 0 2rem 2rem;
}

/* === footer payment === */
footer #payment p {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
footer #payment img {
  width: 50px;
}

/* === footer bottom === */
footer .btn-custom {
  box-shadow: inset 0px 1.5px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #d75f33;
  width: 4rem;
  height: 1.8rem;
  border-radius: 0px;
  font-size: .8rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
footer .btn-custom i {
  color: rgba(255, 255, 255, .6);
}
#footer-bottom {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
 
  border-top: solid 2.5px #e6e0d9;
  padding-top: 1rem;
} 

#footer-bottom a {
  display: inline;
}
#footer-navbar {
  margin-top: -.5rem;
}

footer #go-to-top img {
  float: right;
  width: 50px;
  height: 50px;
  background-color: #d75f33;
  margin-top: -50px;
  margin-right: -50px;
  padding: 5px;
}
/* === media queries for footer bootom === */
@media only screen and (max-width: 768px) {
  #footer-navbar {
    display: none;
  }
  footer #cur, #lang {
    float: left;
    margin-top: -8rem;
  }
  footer #go-to-top img {
    margin-right: 50%;
    opacity: .5;
  }
}

/* === media queries for header top dark navbar === */
@media only screen and (max-width: 998px) {
  #top-navbar a {
    font-size: .7rem;
    padding: .3rem;
  }
}
@media only screen and (max-width: 768px) {
  .Rectangle-1 {
    display: none;
  }
}

/* === media queries for header second navbar lightgrey === */
@media only screen and (max-width: 1200px) {
  header #logo {
    padding-right: 3rem;
  }
  #second-navbar .navbar-nav a {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 998px) {
  #second-navbar a {
    font-size: 1rem;
  }
  header #logo {
    height: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  header #logo {
    margin-right: 15vw;
  }
}
@media only screen and (max-width: 4008px) {
  header #logo {
    margin-right: 5vw;
  }
}

@media only screen and (max-width: 768px) {
  #hero-slider-book-cover-img-col {
    display: none;
  }
  .styled-select {
    display: none;
  }
  .search-container input {
    width: 80%;
  }
  .search-container { 
    bottom: -.2rem;
  }
  .carousel-inner .container {
    height: 75vh;
  }
}

@media only screen and (min-width: 768px) {
  #carousel-indicators {
    transform: rotate(90deg);
    margin-left: 65%;
    top: 15%;
    right: -15%;
  }
}
